allure-pytest==2.16.0
allure-python-commons==2.16.0
annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.14.2
attrs==26.1.0
certifi==2026.6.17
charset-normalizer==3.4.7
click==8.5.0
Faker==40.28.1
fastapi==0.141.1
greenlet==3.5.5
h11==0.16.0
idna==3.18
iniconfig==2.3.0
packaging==26.2
pluggy==1.6.0
psycopg2==2.9.12
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.20.0
pytest==9.1.1
pytest-check==2.9.1
pytest-rerunfailures==16.6.1
python-dotenv==1.2.2
requests==2.34.2
SQLAlchemy==2.0.52
starlette==1.6.0
typing-inspection==0.4.3
typing_extensions==4.16.0
urllib3==2.7.0
uvicorn==0.52.4
